@tailwind base;
@tailwind components;
@tailwind utilities;

.my-masonry-grid {
  display: flex;
  margin-left: -1rem;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1rem;
  background-clip: padding-box;
  display: grid;
}
